@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Dosis:200,300,400,500,600,700,800|Antic+Slab|Poiret+One|Sail|Quicksand:300,400,700|Magra:400,700|Oxygen|Imprima|Karla:400,400italic,700,700italic|Pontano+Sans|Basic|Cookie|Italiana|Belleza|Arapey:400italic,400|Merriweather:400,300,700,900&subset=latin,latin-ext);
body{
    overflow: hidden;
    font-family: 'Merriweather', serif;
}

.navbar{
    display: none;
}
/*common styles*/

.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

.band{
  width: 600px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.band h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 23px;
    color: white;
    font-size: 60px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
/* end of common styles */

.navbar .brand{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 14px;
}

#landing{
    min-height: 658px;
    background: #fff7e9 url(../img/red_band.jpg) repeat-x bottom center fixed;
}

#landing > .logorow{
    height: 100%;
    overflow: hidden;
    /*background: url(../img/red_band.jpg) repeat-x bottom center fixed;*/
}

#landing > .titlerow{
    width: 100%;
    bottom: 120px;
    position: relative;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
}
#landing > .titlerow > .title{
    width: 600px;
    margin: 0 auto;
    color:#fff7e9;
}
#landing > .titlerow > .title h1{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 60pt;
    margin-bottom: 15px;
}
#landing > .titlerow > .title p{
    font-family: 'Pontano Sans', sans-serif;
}

#landing > .logorow > .item{
    float: left;
    width: 245px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
    height: 100%;
    position: fixed;
}

#landing > .logorow > .bamboo_left{
    background: url(../img/bamboo1.png) no-repeat bottom left;
    left: -425px;
}

#landing > .logorow > .bamboo_right{
    background: url(../img/bamboo2.png) no-repeat bottom right;
    right: -425px;
}

#landing > .logorow > .logo{
    background: url(../img/logo.png) center center no-repeat;
    width: 100%;
    margin: 0 auto;
}

#whoweare{
    background: url(../img/whoweare2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#whoweare #content{
    margin-top: 40px;
    background: url(../img/traquilidad.png) white no-repeat 80% 50% fixed;
    /*background-position-x: 80%;*/
    /*background-position-y: 50%;*/
}

#whoweare #content .container .row{
    margin-top: 40px;
}

#whoweare #content p{
  font-size: 15px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
}

#whoweare #content h1{
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 5em;
  margin-bottom: 40px;
}


#ourdisciplines{
    background: url(../img/ourdisciplines.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#ourdisciplines > .headtitle >.row{
    margin-top: 80px;
    margin-bottom: 20px;
}

#ourdisciplines #content, #ourdisciplines #content p{
  font-family: 'Merriweather', serif !important;
  font-weight: 300;
}
#ourdisciplines #content .cleft .discipline p{
  padding-right: 20px;
  text-indent: 20px;
}

#ourdisciplines #content{
  margin-top: 35px;
}

#ourdisciplines #content h3{
  margin-bottom: 10px;
  color: #937D4B;
  font-style: italic;
}
#ourdisciplines #content .cleft, #ourdisciplines #content .cright{
  width: 45%;
  background-color: white;
}

#ourdisciplines #content .cleft{
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
} 
#ourdisciplines #content .cright{
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
}
#ourdisciplines #content .cmseparator {
  min-height: 100;
  width: 10%;
  background-image: url(../img/dot4.png);
}

#ourdisciplines #content .panel {
  position: relative;
  float: left;
}
#ourdisciplines #content .panel .discipline{
  margin-top: 30px;
}
#ourdisciplines #content .cleft .discipline{
  background: url(../img/right_corner.png) no-repeat bottom right;
  padding-bottom: 20px;
  min-height: 160px;
}
#ourdisciplines #content .cright .discipline{
  background: url(../img/left_corner.png) no-repeat bottom left;
  padding-bottom: 20px;
  padding-left: 40px;
  min-height: 160px;
  margin-left: 76px;
}

#ourdisciplines #content .cright p{
  margin-right: -40px;
  text-indent: 20px;
}

#ourway > .headtitle >.row{
    margin-top: 80px;
    margin-bottom: 20px;
}

#ourway{
    background: url(../img/ourway.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#ourway #content{
    margin-top: 40px;
    background: url(../img/circule.png) no-repeat right top;
}
#ourway #content .container{
  padding-top: 20px;
}
#ourway #content ol{
  font-family: 'Merriweather', serif !important;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #88370D;
}
#ourway #content ol li h2, #ourway #content ol li h3{
  font-weight: normal;
}
#ourway #content ol li h2{
  border-top: 2px solid #eee;
  color: black;
}
#ourway #content ol li h3{
  color: #937D4B;
  font-style: italic;
}
#ourway #content ol li p{
  color: black;
}
#workclients{
    background: url(../img/workclients.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}
#workclients .headTitle .row{
  margin-top: 40px;
}
#workclients .title{
  position: relative;
  float: left;
  height: 640px;
  width: 300px;
  background: url(../img/work_clients.png) no-repeat center center, url(../img/dot4.png);
}
#workclients .workcontent{
  position: relative;
  float: left;
  height: 640px;
  background-color: white;
  width: 978px;
}

#contactus{
  background: url(../img/contactus.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

#contactus .headTitle{
  margin-bottom: 50px;
}

#contactus .row-fluid h1{
  font-size: 60px;
  line-height: 80px;
  color: white;
  background: url(../img/dot_white.png)  rgba(0, 0, 0, 0.25);
  padding: 20px 20px 20px 25px;
}
#contactus .row-fluid p{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  font-size: 15px;
}
#contactus hr{
  border: 0;
  border-top: 1px solid white;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}
