@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Dosis:200,300,400,500,600,700,800|Antic+Slab|Poiret+One|Sail|Magra:400,700|Oxygen|Imprima|Karla:400,400italic,700,700italic|Pontano+Sans|Basic|Cookie|Italiana|Belleza|Arapey:400italic,400|Merriweather:400,300,700,900&subset=latin,latin-ext);

body{
    overflow: hidden;
}

.navbar{
    display: none;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
    /* filter: alpha(opacity=0); */
    /* -moz-opacity: 0.0; */
    /* -khtml-opacity: 0.0; */
    /* opacity: 0.0; */
}
/*common styles*/

.left{
    text-align: left;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}

/* end of common styles */

.navbar .brand{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 14px;
}

#landing{
    min-height: 658px;
    background-color:#fff7e9;
}

#landing > .logorow{
    height: 100%;
    overflow: hidden;
    background: url(../img/red_band.jpg) repeat-x bottom center fixed;
}

#landing > .titlerow{
    width: 100%;
    bottom: 120px;
    position: relative;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
}
#landing > .titlerow > .title{
    width: 600px;
    margin: 0 auto;
    color:#fff7e9;
}
#landing > .titlerow > .title h1{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 60pt;
    margin-bottom: 15px;
}
#landing > .titlerow > .title p{
    font-family: 'Pontano Sans', sans-serif;
}

#landing > .logorow > .item{
    float: left;
    width: 245px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
    -khtml-opacity: 0.0;
    opacity: 0.0;
    height: 100%;
    position: fixed;
}

#landing > .logorow > .bamboo_left{
    background: url(../img/bamboo1.png) no-repeat bottom left;
    left: -425px;
}

#landing > .logorow > .bamboo_right{
    background: url(../img/bamboo2.png) no-repeat bottom right;
    right: -425px;
}

#landing > .logorow > .logo{
    background: url(../img/logo.png) center center no-repeat;
    width: 100%;
    margin: 0 auto;
}

#whoweare{
    background: url(../img/whoweare2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#whoweare .span5 h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 23px;
    color: white;
    font-size: 60px;
}

#whoweare #content{
    margin-top: 40px;
    background: url(../img/traquilidad.png) white no-repeat fixed;
    background-position-x: 80%;
    background-position-y: 50%;
}

#whoweare #content .container .row{
    margin-top: 40px;
}

#whoweare #content p{
  font-size: 15px;
  font-weight: 300;
  font-family: 'Merriweather', serif;
}

#whoweare #content h1{
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 5em;
  margin-bottom: 40px;
}

#whoweare #content .experience h1{
}

#ourdisciplines{
    background: url(../img/ourdisciplines.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#ourdisciplines > .headtitle >.row{
    margin-top: 40px;
}

#ourdisciplines .span5 h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 23px;
    color: white;
    font-size: 60px;
}
#ourdisciplines #content{
    margin-top: 40px;
    background-color: white;
}
